NEXT_PUBLIC_APP_NAME="Minha Inflação"
NEXT_PUBLIC_API_URL="http://localhost:3000/api"

DATABASE_URL="postgres://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"

AUTH_SECRET="troque-por-um-segredo-aleatorio-de-32-bytes"

INFOSIMPLES_TOKEN=""

OPENAI_API_KEY=""
